/*media */
 
@media screen and (min-width: 693px){
    #main{
        display: flex;
        flex-wrap: wrap;
    }
}

/*universal styling*/

body{
    margin-top: 10%;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}

#main{
    display: flex;
    justify-content: center;
    
}

/*container styling*/

.container-1, .container-2, .container-3, .container-4{
    border: 2px solid #d9d9dd;
    margin: 20px;
    height: 500px;
    width: 350px;
    border-radius: 4px;
    transition: border .2s ease;
}
.header, .header-2, .header-3, .header-4{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    border-bottom: 2px solid #d9d9dd;
    transition: border .2s ease;
}
.price{
    padding-top: 50px;
}
h2{
    font-size: 3rem;
    font-weight: 400;
}
h3{
    padding-top: 15px;
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}
h4{
    font-size: 1.75rem;
    margin-top: 80px;
    font-weight: 400;
}
p{
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    font-weight: lighter;
}
button{
    margin-top: 90px;
    padding: 15px 60px;
    border-radius: 5px;
    text-decoration: none;
    border-style: none;
    text-transform: uppercase;
}

/*individual styling*/

.a{
    font-weight: 700;
}
.header-3{
    background-color: white;
}

.btn-1, .btn-2{
    background-color: #69579C;
    color: white;
    letter-spacing: 2px;
}
.btn-3{
    background-color: #69579c;
    color: white;
    letter-spacing: 2px;
    transition: .5s ease;
}
.btn-4{
    background-color: #A29FAA;
    color: white;
    letter-spacing: 2px;
    margin-top: 115px;
}

/* adding hover to buttons and containers */

.container-1:hover > .header,
.container-2:hover > .header-2,
.container-3:hover > .header-3,
.container-4:hover > .header-4{
    
    border: 1px solid #FB9537;
}
.container-1:hover,
.container-2:hover,
.container-3:hover,
.container-4:hover{
        border: 1px solid #FB9537;
}

.btn:hover{
    background-color: #FB9537;
    cursor: pointer;
}

